.banner {
    background-image: url(../Images/2222.png);
background-size: cover;
background-position: center;
}

.banner h1 {
    font-size: 80px;
  }
  .banner h2 {
    color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
  }