
@import url(../CSS/container.css);
@import url(avatar.css);
@import url(button.css);
@import url(banner.css);
@import url(card.css);

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin: 10px;
    text-justify: auto;
    width: auto;
  }
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 50px;
  }


a {
    text-decoration: none;
}